body {
    background-color: #019bd3;
}

.cadastro-form {
    background-color: white;
    width: 80vw;
    margin: 10vh auto;
    border-radius: 6px;
    box-shadow: 0px 0px 20px black;
}

.titulo {
    background-color: #1668c4;
    height: 45px;
    text-align: center;
    font: bold calc(12px + 1vw)/45px arial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 0px 5px black;
    color: white;
}

.subtitulo {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}

.subtitulo>div {
    color: #1668c4;
    font: bold calc(12px + 1vw)/45px arial;
    text-shadow: 1px 1px 1px black;
}

.botao {
    font: bold calc(2px + 1vw) arial;
    background-color: white;
    border: 1px solid #0058a0;
    color: #0066b8;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}

.botao:hover {
    background-color: #1668c4;
    color: white;
}

.container-modal {
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
    opacity: 0;
}

.modal {
    width: 50vw;
    margin: 10vh auto;
    background-color: white;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container-modal.exibirModal {
    opacity: 1;
    z-index: 999;
}

.form {
    display: grid;
    grid-template-areas: " nome nome nome nome " " email email celular celular " " endereco numero bairro bairro " " cidade cidade estado cep ";
    gap: 10px;
    padding: 2vw;
}

#nome {
    grid-area: nome;
}

#email {
    grid-area: email;
}

#celular {
    grid-area: celular;
}

#endereco {
    grid-area: endereco;
}

#numero {
    grid-area: numero;
}

#bairro {
    grid-area: bairro;
}

#cidade {
    grid-area: cidade;
}

#estado {
    grid-area: estado;
}

#cep {
    grid-area: cep;
}

.form>input {
    width: 100%;
}

.acao {
    display: flex;
    justify-content: center;
    padding: 2vw;
}

.botao {
    font: bold (2px/1vw) arial;
    margin-left: 10px;
}

.tabela {
    width: 100%;
    background-color: #1668c4;
    border-radius: 5px;
    text-align: center;
}

th {
    padding: 5px;
    color: white;
    font: bold calc(3px + 1vw) arial;
}

td {
    border-radius: 5px;
    border: 1px black solid;
    color: black;
    font: bold calc(2px + 1vw) arial;
}

.registros tr {
    background-color: #92bcec;
}

.registros tr:hover {
    background-color: #549cec;
}